/* .home{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
} */
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo{
    /* color: white;
    border-style: solid;
    border-color: white;
    border-width: 5px; */
    height: 80px;
    margin-top: 4px;
    margin-left: 10px;
    padding: 5px;
}

/* The navigation bar */
.nav {
    overflow: hidden;
    width: 100%;
    background-image: url('./nav1.jpg');
    height: 86px;
    position: relative;
    z-index: 10;
  }

  .ulNav{
    padding: 15px 1px;
  }
  
  /* Links inside the nav */
  .nav li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    /* padding: 15px 1px; */
    text-decoration: none;
    margin:17px 65px;
  }
  
  /* Change background on mouse-over */

  
  ul a{
    list-style-type: none;
    text-decoration: none;
    color: white;
  }

  
  /* Change the link color to #111 (black) on hover */
  /* li a:hover {
    background-color: #111;
  } */

/* 

  .home{
    width: 100%;
    height: 100vh;
} */

video{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.title{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 689px;
    background-color: rgba(0,0,0,0.2);
}

.base{
    height: 650px;
    margin-top: 90px;
    margin-left: 200px;
    margin-bottom: 40px;
    border-style: solid;
    border-width: 15px;
    border-color: white;
}

.first{
    width: 270px;
    height: 250px;
    margin-top: 140px;
    margin-left: 30px;
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(255, 255, 255);

}

.second{
    position: absolute;
    width: 270px;
    height: 230px;
    margin-top: 450px;
    margin-left: 470px;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(255, 255, 255);

}

.quote{
    position: absolute;
    margin-left: 700px;
    margin-top: 150px;
    text-align: center;
    color: rgb(0, 40, 201);
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    /* background-color: rgba(45, 43, 43, 0.777); */
}

.quote1{
    position: absolute;
    margin-left: 920px;
    margin-top: 290px;
    text-align: center;
    color: rgb(0, 40, 201);
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    /* background-color: rgba(45, 43, 43, 0.777); */

}

.part2{
    height: 3980px;
    /* background-image: url('https://i.pinimg.com/originals/44/db/93/44db938c4d86a7ea3ae51a511304a117.gif'); */
    /* background-image: url('https://w0.peakpx.com/wallpaper/231/537/HD-wallpaper-rumination-dj-dj-set-dj-visuals-erica-anderson-gif-gifs-vj-vj-clip-vj-clips-vj-loop-abstract-abstract-art-animated-art-animation-art-concert-visuals-digital-art-ericaofanderson-live.jpg'); */
    /* background-image: url('https://w0.peakpx.com/wallpaper/489/589/HD-wallpaper-stockpile-of-memories-dj-dj-set-dj-visuals-erica-anderson-gif-gifs-vj-vj-clip-vj-clips-vj-loop-abstract-abstract-art-animated-art-animation-art-concert-visuals-digital-art-ericaofanderson.jpg'); */
    background-image: url('./12221.jpg');
    background-color: rgb(22, 21, 21);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.services{
    width: 100%;
    height: 500px;
    margin-top: 150px;
}

.pics{
    width: 260px;
    height: 260px;
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
    border-style: solid;
    border-color: rgb(0, 40, 201);
}

.pages{
    margin-top: 10px;
    margin-left: 40px;
}

.pagestitle{
    display: inline;
    color: rgb(0, 40, 201);
    padding: 100px;
    margin-top: 20px;
}


.divingTitle{
    margin-top: -1px;
    text-align: center;
    color: rgb(0, 30, 148);
}

.pics1{
    margin-top: 0px;
    width: 400px;
    height: 600px;
    padding: 20px 30px 280px 30px;

}

.g1{
    display: inline-block;
    width: 400px;
    height: 700px;
    margin: 50px 50px 0 50px;
    color: rgb(254, 254, 254);
    border-style: solid;
    border-color: rgb(0, 40, 201); 
    background: rgba(0, 40, 201,0.2);

}

/* .g3{
    padding-top: 5px;
} */

.par{
    text-align: center;
    margin-top: -200px;
    margin-left: 10px;
}

footer{
    width: 100%;
    height: 150px;
    background-color: rgb(3, 0, 47);
    padding-top: 45px;
    margin-top: -13px;
}

.logoFooter{
    height: 80px;
    margin-left: 40px;
    margin-top: -10px;
}

.contact{
    color: white;
    margin-left: 1000px;
    margin-top: -80px;
}

.quick{
    color: white;
    margin-left: -400px;
    /* margin-top: -82px; */
    margin-top: -80px;
    text-align: center;
}
.links a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}